/*
//    Copyright 2016 Ed Novak

//    This program is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.

//    This program is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.

//    You should have received a copy of the GNU General Public License
//    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


@font-face {
  font-family: "Computer Modern";
  src: url('/cmunss.otf');
}

*{
	overflow:auto;
}

body{
	font-family: "Computer Modern", sans-serif;
	text-align:center;
	background: linear-gradient(to bottom, #ffffff, #f1f1f1)
}

table{
	text-align:center;
	margin:auto;
}

td{
	width:125px;
}


h1{
	margin: 0px 0px 10px 0px;
  background-color: #4c78b0;
}

h4{
margin:0px;
}

p#warning{
	background: #cc0000;
	border: solid black thin;
	color: white;
	width: 400px;
	margin: 10px auto;
	text-shadow: 2px 1px #000000;
	padding: 2px;
	border-radius: 3px;
}

p#warning a{
	color: #ccffff;
}